  <div class="flex items-center justify-center" style="height:90vh;">
    
	<div class="bg-orange-800 text-white rounded-lg border shadow-lg p-10">
		<% if flash[:notice].present? %>
		  <div class="p-1 bg-yellow-400 text-black rounded shadow-xl mb-2"><%= flash[:notice] %></div>
		<% end %>

		<h1 class="mb-2">Hi, <%= current_user.auth0info["info"]["name"] %>!</h1><br/>
		
		<p>Thank you so much for joining the waitlist. You're our <%= User.where("rank > 0").count.ordinalize %> supporter! 🤗 You can join our <a href="https://gitter.im/learn-awesome/community" target="_blank"><u>learning community</u></a>.</p>

		<% if current_user.message.blank? or params[:showmsg].to_s.to_sym == :true %>
		<p>Do you have any message for us?</p>
		
		<%= form_tag '/dashboard/message', class: "mt-2" do -%>
			<textarea style="width: 100%" class="mb-2 text-black p-1" name="message"><%= current_user.message %></textarea>
			<div>
				<input type="submit" value="Submit" class="bg-yellow-900 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded"/>
			</div>
		<% end %>
		<% end %>

		<div class="mt-4 text-right">
      Share on <a href="https://twitter.com/intent/tweet?text=I%27m%20looking%20forward%20to%20the%20release%20of%20this%20ultimate%20book%20about%20how%20to%20learn%20anything%20more%20effectively%2C%20compiling%20the%20best%20ideas%20from%20many%20resources%2E%20Check%20it%20out%3A%20https%3A%2F%2Fbook%2Elearnawesome%2Eorg" target="_blank"><u>Twitter</u></a>,

      <a href="whatsapp://send?text=I'm looking forward to the release of this ultimate book about how to learn anything more effectively. Check it out: https://book.learnawesome.org" data-action="share/whatsapp/share"><u>Whatsapp</u></a> or 
      
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fbook.learnawesome.org&title=Looking+forward+to+the+release+of+this+ultimate+book+about+how+to+learn+anything+more+effectively.+compiling+the+best+ideas+from+many+resources:+Check+it+out" target="_blank"><u>LinkedIn</u></a>
    </div>

    <div class="text-left">
      <a href="/logout"><u>Logout</u></a>
    </div>
	</div>
	
  </div>


<!--Footer-->
<footer class="bg-white">
  <div class="container mx-auto  px-8">

        <div class="w-full flex flex-col md:flex-row py-6">
        
      <div class="flex-1 mb-6">
      
        <a class="text-orange-600 no-underline hover:no-underline font-bold text-2xl lg:text-2xl"  href="#"> 
          📖 Learn Awesome
          
        </a>
      </div>
    
    
            <div class="flex-1">
                <ul class="flex flex-row-reverse">
                    <li class="mr-4">
                        <a href="https://twitter.com/learn_awesome" target="_blank" class="underline text-gray-800 hover:text-orange-500">Twitter</a>
                    </li>
                    <li class="mr-4">
                        <a href="https://medium.com/learn-awesome" target="_blank" class="underline text-gray-800 hover:text-orange-500">Blog</a>
                    </li>
                    <li class="mr-4">
                        <a href="https://gitter.im/learn-awesome/community" target="_blank" class="underline text-gray-800 hover:text-orange-500">Learning Community</a>
                    </li>

                    <li class="mr-4">
                        <a href="https://learnawesome.org" target="_blank" class="underline text-gray-800 hover:text-orange-500">Learning Map</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  
</footer>





